[2017-03-05 10:41] TomOR1 opened #1 "Unity doesn't like its materials"
So I have opened the zip and dragged and dropped it into unity 3d, and none of the materials work. Some of the road materials are pink, and then others like the bridge materials are white. This is incredibly annoying, and even once I have re-assigned some of the textures it still isn't great. Please help. For debug purposes, I am running Unity 5.5.0f3 personal, and I have even tried importing it i

[2017-03-05 17:53] Wezhayw commented on #1
^ i'm also experienced this. I found that all the files must be put into a folder called "RoadArchitect" (case-sensitive) within your projects Assets folder. Simply removing the "-master" in the folder name fixes a lot of stuff, the minority of materials work, aswell as the GUI elements.
This however still has a few broken materials - linked to wrong or missing shaders, and barriers, lights, signs

[2017-03-06 08:22] TomOR1 commented on #1
@Wezhayw This didn't work for me.

Wach this video I made:

https://drive.google.com/file/d/0B_CZzz4M1KKCNkowQVkxRVFRcGs/view?usp=sharing

[2017-03-06 11:39] Wezhayw commented on #1
If you have the patience and really badly want to use, all materials are using textures of the same name. Use the GSD/Roads/Road shader, and if a material only has one texture then use GSD/TranShadowMarker shader

Some meshes aren't working properly and they need to be added to the prefabs of the same name

[2017-03-06 11:45] MicroGSD commented on #1
I'll adjust the GitHub project to start with a RoadArchitect folder to make it more clear how to move it into the assets folder for a unity project. Can download release or clone the github project, unzip it. Consider it your local repo, and copy and paste into a /RoadArchitect directory in your assets folder.

I'll check out some of the assets and see which ones are having material issues. Post t

[2017-03-06 21:12] TomOR1 commented on #1
@MicroGSD Don't you think it would be easier to just include a unity package into the repository so then it just imports it as if you had bought it when you had it on the asset store??

[2017-03-06 21:13] TomOR1 commented on #1
Like the one you put on the asset store

[2017-03-07 20:14] TomOR1 commented on #1
@MicroGSD Also none of the meshes work, I think if you add another branch wich has the unitypackage will be the best thing.

[2017-03-14 15:25] Balgam commented on #1
@MicroGSD

Hmm for me this also doesn't work still all materials are broken.

[2017-03-14 15:27] Balgam commented on #1
@MicroGSD

Hmm for me this also doesn't work still all materials are broken.

[2017-03-16 16:00] #1 closed

[2017-04-26 00:20] arawayrj opened #2 "Materials do not render properly"
I know it says it works with Unity 5.5.0f3, but I went ahead and tried it on 5.6.0f3. The road materials render as pink splotches and the rest of the materials do not look proper either. Will this be fixed in the near future or am I just missing something?

[2017-04-26 02:02] arawayrj commented on #2
Fixed it by importing using the unitypackage download.

[2017-04-26 02:02] #2 closed

[2017-05-08 13:53] djohns451 opened #3 "Materials do not work with Unity 5.6.0f3"

[2017-05-08 13:53] djohns451 opened #4 "Prefabs do not work with Unity 5.6.0f3"

[2017-05-08 14:36] djohns451 opened #5 "Arch bridge unit test produces erroneous output with Unity 5.6.0f3"
![image](https://cloud.githubusercontent.com/assets/17502055/25809055/eaeb966a-33d9-11e7-9bcc-5c88745e1cf6.png)

[2017-05-08 14:38] djohns451 commented on #5
Rerunning the unit test fixes terrain issue, scaling issue persists,
![image](https://cloud.githubusercontent.com/assets/17502055/25809190/4b26e228-33da-11e7-92cb-7681f36f9351.png)

[2017-05-20 16:52] umerkakar opened #6 "Not working on Unity 5.3.4f1"
Hello,
I have imported RoadArchitect into my Unity 5.3.4f1. All files are imported. But it;s not showing the menu. And in console, I can see the error.
![screenshot_2](https://cloud.githubusercontent.com/assets/11842713/26277701/9d72ffa0-3da6-11e7-8480-82ac51dae79c.png)

[2017-05-21 04:06] voblivion commented on #6
Hi !
Have you tried using the .unitypackage release ? (DL it here : https://github.com/MicroGSD/RoadArchitect/releases). (Took me some time to find it, should be on README I think).
Victor

[2017-05-21 08:50] umerkakar commented on #6
Thanks Victor,
I think, i was wrong. I am new to gaming and Unity. I think made a mistake. That I have downloaded source code and then import scripts directly into unity. And I think that is the reason things are not working. I was not aware about package of unity that is available on the link, you provided above. Downloading it. I will update you, what will happen after importing it.

Umer Sharif

[2017-05-21 12:32] umerkakar commented on #6
Hello again.
I have installed package now as downloaded from link above. It still showing an error. I think you have to look into it. And I can't see menu item for the Road Architect in unity.
** Assets/RoadArchitect/GSDRoad.cs(538,53): error CS0234: The type or namespace name `Profiling' does not exist in the namespace `UnityEngine'. Are you missing an assembly reference? **

![screenshot_3](http

[2017-06-02 11:29] TomOR1 commented on #6
@umerkakar, the reason why it doesn't exist is that it doesn't exist.

before you look further down in the comment try and import the unity standard assets then if that doesn't work then do the following:

you now have 2 options:

1: delete GSDRoad.cs which is a core script and can't be deleted without consequences

2: update Unity

adv/disadv of updating unity:

adv: you can use the post processi

[2017-06-02 11:30] TomOR1 commented on #3
use the unity package:
https://github.com/MicroGSD/RoadArchitect/releases

[2017-06-02 11:30] TomOR1 commented on #3
and close the issue

[2017-06-02 11:30] TomOR1 commented on #4
use the unity package:
https://github.com/MicroGSD/RoadArchitect/releases

and then close the issue

[2017-06-02 11:33] TomOR1 commented on #5
elaborate but try the unitypackage if you haven't already:

https://github.com/MicroGSD/RoadArchitect/releases

[2017-06-02 11:43] umerkakar commented on #6
I had standard assets installed. And it was properly imported.

Now I have latest version of unity 5.6.1, where its working fine. without any issue.

[2017-06-04 12:38] truoss opened #7 "No Intersections after drag over node [Unity 5.6.1f1]"
Hi, I added the unity package 1.6 to my project. Created a empty scene and run the "run all Unit tests" except one intersection everything looks right.

But when I add 2 roads and follow the #3 Intersection Tutorial, the node snaps but does not generate a intersection.

There is no error. Only two roads overlapping each other.

[2017-06-04 17:57] djohns451 commented on #3
@TomOR1 The attached Release package suffers from the same issues.

[2017-06-04 17:59] djohns451 commented on #5
@TomOR1 In fact, this is the output from the unitypackage.

[2017-06-04 22:28] TomOR1 commented on #5
@djohns415, could you possibly explain what your problem is, specifically??

If you're problem is with the jerkyness of the terrain then look for a setting called 'terrain smoothness' or something like that. I haven't used road architect for a while so ill find the name of the setting.

If your problem isn't with this above then I request you spend 5-10 minutes writing out what your problem is so

[2017-06-04 22:32] TomOR1 commented on #7
@truoss

Make sure that you are not using the end node of the road, or the start node. If you use them the road will just connect

[2017-06-06 13:31] voblivion commented on #7
I confirm the issue, end node or not.

[2017-06-12 03:33] mneilly opened #8 "Clearing RS.Event_MouseTerrainHit is not qualified by event type [Unity 5.6.1xf1]"
I'm using Unity 5.6.1xf1.

OnSceneGUI() sets RS.Editor_MouseTerrainHit based on control or shift being pressed while the current event is MouseMove or MouseDrag.

[code]

Then the following code block clears RS.Editor_MouseTerrainHit if neither control nor shift are pressed without be qualified against the event type. When layout and repaint events occur, RS.Editor_MouseTerrainHit is cleared and i

[2017-06-15 12:41] Dannyfaction opened #9 "StreeLightDouble Edge Object Spawning Twice"
Hey there,

Very often when I spawn a StreetLightDouble Edge Object via the wizard or from script, it spawns the Streelight Twice. Sometimes twice on the same location and sometimes with an offset.

Thanks in advance.

[2017-06-17 17:10] AnnoyoingGamerz opened #10 "Big issue"
It seems that you have gave up on Road Architect I've literally been using this asset from the day it released on the asset store. I am extremely sad the the product is starting to bug out on Unity 5.6 I would like to help you get this asset back on track I know we can make this asset work and expand. I would really hate to see this asset go, please respond my email address is caleb@caleblawrence.

[2017-06-20 21:47] tonygod commented on #10
people ARE still working on it -- take a look at the github activity.  what are the specific issues you are having?  why not file those (and be specific) and maybe someone will take a look.  if you're up for a challenge, try to fix it yourself and submit a pull request so others can benefit from the same fix.

[2017-06-26 04:39] YeshanJay opened #11 "Support for driving on the left side"
Does 'Unity - Road Architect' support driving on the left side? If not, it would be really great if it did.
I'm trying to develop a racing game which drives on the left side of the road.

My problem occurs when it comes to intersections, where the stop signs and lines are on the other side (right).

[2017-06-28 20:20] djohns451 commented on #11
It doesn't support it currently, but I can explore implementing it.

On Jun 26, 2017 12:39 AM, "Yeshan Jayasinghe" <notifications@github.com>
wrote:

[2017-06-29 03:55] YeshanJay commented on #11
Thank you very much @djohns451  😄
It would be really great if it's implemented.

[2017-06-29 04:38] #10 closed

[2017-06-29 04:39] #6 closed

[2017-07-01 14:40] djohns451 opened #12 "Materials need to be migrated to PBR shaders"

[2017-07-01 23:08] tonygod opened #15 "Bridges Wizard is empty in some cases"
The "Complete Bridges" category (and possibly others) in the wizard will be empty if Git, Visual Studio or some other tool has modified the line endings in the .gsd files under the Library folder.

To correct this, I recommend adding a second FileSepString that checks for CRLF in addition to just LF.

[2017-07-02 04:25] mneilly opened #18 "GSD/TranShadow shader: v2f missing semantic for lightDir in ShadowPass [2017.1.0xf1]"
Unity 2017 reports the following error and fails to compile Shaders/GSDTransparentWithShadows.shader due to a missing semantic on lightDir.

Adding the semantic resolves the compile problem:

[code]

[2017-07-02 13:58] djohns451 commented on #7
Can't reproduce on this end.

[2017-07-02 20:59] mneilly commented on #3
The materials do not work from Git because the .meta files are not included and are included in the .gitignore file erroneously.

Per the Unity documentation:
(https://docs.unity3d.com/Manual/ExternalVersionControlSystemSupport.html)

[2017-07-03 12:28] djohns451 commented on #3
@mneilly Since we release as a unitypackage, adding .meta files would prove a hindrance to making sure that the items import properly as-is.

[2017-07-03 12:29] djohns451 commented on #3
Trying with a fresh installation, the Materials work.

[2017-07-03 12:29] #3 closed

[2017-07-03 12:30] djohns451 commented on #18
This will be irrelevant soon because of #12.

[2017-07-03 17:59] djohns451 commented on #8
#17 Merged in.

[2017-07-03 17:59] #8 closed

[2017-07-03 18:06] djohns451 commented on #15
#16 merged in.

[2017-07-03 18:06] #15 closed

[2017-07-04 15:09] #4 closed

[2017-07-04 15:09] #5 closed

[2017-07-04 16:04] djohns451 commented on #12
Pull request merged in.

[2017-07-04 16:04] #12 closed

[2017-07-04 16:04] #18 closed

[2017-07-04 16:06] djohns451 opened #19 "Improve export system for use with other game engines"

[2017-07-04 16:07] djohns451 opened #20 "New system for road decals and road decal placement."

[2017-07-04 16:08] djohns451 opened #21 "Better system for road lines."

[2017-07-04 16:08] djohns451 opened #22 "Convert intersections to place objects with nodes."

[2017-07-05 16:01] tonygod opened #23 "Intersections between 2 and 4 lane roads have gaps and other issues"
If you intersect a 2-lane road with a 4-lane road, the resulting intersection shows stopping lines for the 2-lane road in the middle of the intersection and there is texture z-order layering issues.

If you intersect a 4-lane road with a 2-lane road, the resulting intersection has large gaps.

[See this video for an illustration of what happens in both cases](https://www.youtube.com/watch?v=LMaEtf

[2017-07-05 23:09] djohns451 commented on #11
Major portions of the code need to be rewritten to support this.

[2017-07-06 04:30] YeshanJay commented on #11
Yeah, I thought so. 🙁
For now I'm inverting the whole road system game object after placing them, which is really tricky and not a good practice.

Inverting the roads means I'll have to invert each and every stop sign too or anything that has text, otherwise they'll be mirrored.

I'll try to manage it though, lol

[2017-07-06 13:51] djohns451 commented on #23
@tonygod Fixed a bad video link in the comment above.

[2017-07-10 18:56] desireend opened #24 "RoadArchitect menu does not appear on toolbar to create a Road System"

[2017-07-10 20:33] djohns451 commented on #24
@desireend Can you provide a screenshot of the toolbar and the relevant portions of your Project log?

[2017-07-10 21:10] desireend commented on #24
![image](https://user-images.githubusercontent.com/22029278/28040058-79ba9fb4-6592-11e7-8ee5-4eeb2483cad3.png)

[2017-07-10 22:07] djohns451 commented on #24
@desireend Check for errors in the [Console](https://docs.unity3d.com/Manual/Console.html) below.

[2017-07-11 03:52] desireend commented on #24
I corrected the errors and it still does not show.

[2017-07-11 14:00] gsdnano commented on #21
Somewhat related, some thoughts on decals.

GTAV's heavy use of decals for almost all aspects of their road systems is impressive from a performance and detail perspective. Manhole covers, road patches,  potholes, lane markings etc.

Eventually it would be nice to convert RA to use decals for markings + add the other items like road patches / potholes / lane markings etc (with options for randomiz

[2017-07-11 14:07] gsdnano commented on #22
My ideas for updating the intersections was to implement a less dynamic but more pluggable system, never got around to it though.

Quite a bit of the code complexity in the RA code base revolves around the creation of dynamic intersections.

Possibly converting intersections to their own placeable objects with node "connection points" that the RA road would hook into and adjust its tangent appropr

[2017-07-11 14:11] gsdnano commented on #24
Which toolbar are you referring to? The menu toolbar? Check the "Window" menu item, iirc.

Unity changed their policy on the menu system for assets the day before RA was submitted and I was forced to change it at the last moment, so some of the documentation and videos refers to the RA menu being its own primary menu item.

[2017-07-11 14:12] gsdnano commented on #20
See comment here: https://github.com/MicroGSD/RoadArchitect/issues/21#issuecomment-314452778

Any thoughts anyone?

[2017-07-11 15:16] gsdnano opened #25 "Add function for detecting vehicle lane violations"
Have had a few requests for this feature, going to go ahead and implement it  and put it in the primary spline function helpers.

[2017-07-11 15:19] gsdnano opened #26 "Add unit tests for spline system"
Spline system needs unit tests, esp dynamic caching and when caching gets options.

[2017-07-11 15:34] djohns451 commented on #20
On the concept of potholes and the like, that would be a near perfect application of a normal map, assuming there would not need to be any interaction or dynamic modification. If so, a normal mapped mesh would do the trick just fine.

[2017-07-11 15:37] djohns451 commented on #20
You'll need some sort of splatmap internally, because the direction Unity's going in is in multiple shader passes instead of multiple materials. As such, you'll need to shift off the computation of the location of such features to the GPU, especially with a solution similar to a compute shader.

[2017-07-11 15:39] djohns451 opened #27 "Remove references to deprecated libraries."
Which libraries in particular?

[2017-07-11 15:39] djohns451 opened #28 "Decide on separate @next branch to avoid issues on the traffic system during early implementation phase vs just putting it in dir with warning for consumers"

[2017-07-11 15:39] djohns451 commented on #28
It might be better to tag the releases and keep the master branch for live (and unstable) code.

[2017-07-11 15:43] djohns451 commented on #24
I can't reproduce the error on my end.

[2017-07-11 18:25] desireend commented on #24
I see the menu system under window. Thank you.

[2017-07-11 18:25] #24 closed

[2017-07-11 18:29] gsdnano commented on #28
I like that idea, let's do that.

[2017-07-11 18:29] #28 closed

[2017-07-11 18:29] gsdnano commented on #27
Referencing some internal libraries from 4 years ago in the traffic code. Going to remove them before the initial code upload for the traffic stuff.

[2017-07-11 19:30] tonygod commented on #23
The changes for this probably need to go somewhere in GSDRoadUtilityT.cs GSDRoadCreationT.RoadJob_Prelim_Inter when setting the four intersection corner points.

I have been able to alter the intersection size by using combinations of road separation values when setting PreInterVectR and PreInterVectL for both nodes, and I can get close to the desired mesh, but something later in the code is reset

[2017-07-11 19:43] tonygod commented on #20
For potholes, you could just use standard shader and PBS Materials.  Occlusion Layer for proper shadowing and as @djohns451 pointed out, a normal map and you would want to use other maps for up close details, specular for wetness/shinyness.

[2017-07-11 19:51] tonygod commented on #9
Hi @SkaterDanny, I have been unable to reproduce this, but maybe I am missing something specific to your configuration or use case.

I am using Unity 5.6.1f1 and 2017.1 and I have tried 2-lane and 4-lane roads.  Could you perhaps provide more details and a link to a video showing how you reproduce the problem?

[2017-07-11 19:56] djohns451 commented on #28
Note that this is the recommended practice with git anyway.

[2017-07-11 20:12] djohns451 commented on #23
@tonygod I'll add the details to a project board and spend some time digging on my own.

@MicroGSD could probably help a lot with this.

[2017-07-11 20:36] djohns451 commented on #20
A normal mapped solution would allow for lightweight dynamic tessellation,
too.

On Tue, Jul 11, 2017 at 3:43 PM, Tony Godfrey <notifications@github.com>
wrote:

[2017-07-12 00:44] djohns451 commented on #23
It sounds like it needs to be broken down.

[2017-07-13 14:22] djohns451 opened #29 "Extract testing code from menu system."

[2017-07-13 14:24] djohns451 commented on #28
If it's planned to have primary functionality, the traffic code would be best spun off into a new Git repository.

[2017-07-13 14:26] djohns451 commented on #29
@gsdnano Does this apply to this repo or the traffic code?

[2017-07-19 03:17] a244096658 opened #30 "How to use RoadArchitect in game mode?"
Hi,

I am wondering is it possible to use RoadArchitect in the game mode? Thanks!

[2017-07-21 03:19] djohns451 commented on #30
It is not possible currently to create or modify roads through the GUI
during game mode.

@gsdnano could tell you if the road API works in game mode, though.

On Jul 18, 2017 23:17, "Doraemon" <notifications@github.com> wrote:

[2017-07-21 03:37] a244096658 commented on #30
Hi,

I think I did not describe the questions clearly. In fact, I mean is it possible to create road using RoadAchitect in the built game from Unity?

For example, we build a web game from unity and we could still use RoadAchitect in the game to create road and bridges in some way? Thanks!

[2017-07-21 07:18] TomOR1 commented on #30
you prob could but you'd have to look into the script that the GUI calls and use that, it shouldn't be too hard.

you should start off by going into the road script
ok here's what I found quickly:

if you don't know already you can click on gray boxes in vs and it will "reveal" the code

this is all under `#region "Road Construction"`

ln 135 `if(!Application.isEditor){ return; }`
if you quote thi

[2017-07-21 09:21] a244096658 commented on #30
Hi,

I make a new script by following your guide. But it is not allowed to drag the GSDRoad script to the `public GSDRoad roadScript` area. How to fix this? Thank you !!

[2017-07-21 16:43] djohns451 commented on #30
@TomOR1 patching an API into the code is very bad practice, and is best left off the official issue tracker.

[2017-07-26 18:40] TomOR1 commented on #30
@djohns451 I admit it was a bit hacky but should work

@a244096658 Ill have a look at it in a minute (more like tomorrow) but my main framework of 400000 files is being re-imported so it will take a while

@a244096658 @djohns451 sorry for the delayed response!!

[2017-07-26 18:43] TomOR1 commented on #30
@a244096658 I apologize for not doing QA!! 😢

[2017-08-07 13:05] MCrafterzz commented on #22
Have you started implemented that?

[2017-08-07 13:08] MCrafterzz opened #31 "One lane road (Started working on it but need help)"
One way roads would really be great for hightway ramps etc.

I have started working on it, see progress here:
https://github.com/MCrafterzz/RoadArchitect

It does work on roads without intersection and with all road materials. It doesn't work with intersection tho which is what I need help with. It needs more assets for intersection which I don't know how they should look.

[2017-08-07 14:16] MCrafterzz opened #32 "Intersections are really bugged out"
http://imgur.com/a/Urd6S

[2017-08-07 14:28] TomOR1 commented on #30
@a244096658 Sorry I've not checked out this issue yet but I've been very busy lately, I probably won't be able to sort it out very soon. I suggest that in the meantime you play around with it until it works!!

Good luck, Tom

[2017-08-08 06:54] djohns451 commented on #32
All uneven intersections suffer from this issue, since the code assumes
intersections are square.

See issue #23 for updates on this.

On Aug 7, 2017 10:16, "MCrafterzz" <notifications@github.com> wrote:

[2017-08-08 06:55] #32 closed

[2017-08-08 06:59] djohns451 commented on #31
Which intersection are you referring to? The standard Stop Sign model and Traffic Light models look to be compatible with the your code, superficially.

[2017-08-08 07:00] MCrafterzz commented on #32
Ok

[2017-08-08 07:02] MCrafterzz opened #33 "4 and 6 lane wide dirt/brick/cobblestone roads stretch the texture instead of repeating"
http://imgur.com/a/6oONU

[2017-08-08 07:12] MCrafterzz commented on #31
http://imgur.com/a/kqQ95
The one to the left is a 1-1 road intersection. Gives save result both with normal and stop signs. Traffic lights make it crash:
IndexOutOfRangeException: Array index is out of range.
GSDTrafficLightController..ctor (UnityEngine.GameObject& _LightLeft, UnityEngine.GameObject& _LightRight, UnityEngine.GameObject[]& _Lights, UnityEngine.MeshRenderer& _MR_Left, UnityEngine.Me

[2017-08-08 07:19] MCrafterzz commented on #32
There are some other problems to like that the edge objects go right throught the intersection. Also here is a two lane road that has more a bunch more lanes before the intersection http://imgur.com/a/1gsHe

[2017-08-08 07:26] MCrafterzz commented on #21
If you make a model for a manhole cover and rotate it as much as the road is tilted woudn't that fix the the elevation issue? To fix the z fighting you could change the sorting order of the mesh renderer which is accesable with code.

[2017-08-08 15:36] djohns451 commented on #21
See issue #21.

[2017-08-20 18:05] RamiMsallam opened #35 "Shoulder height or pavement height"
Couldn't find anything about Shoulder height or pavement height.. anyway?

[2017-08-21 01:06] djohns451 commented on #35
Pavement height is controlled by the Terrain Subtraction option, under the main Road panel.
![image](https://user-images.githubusercontent.com/17502055/29500114-6d5b1ae0-85eb-11e7-9da7-8fa05841354d.png)

[2017-08-21 01:07] #35 closed

[2017-08-21 01:55] djohns451 commented on #27
@gsdnano When can we expect the initial code upload?

[2017-09-07 19:41] RayRay26 commented on #7
I made a pull request #36 that I think will fix this problem. I was having this problem too until I found the commented-out line.

[2017-09-08 16:49] djohns451 opened #37 "Repo owner is not a github organization"
As mgsd is not a github organization, all official Travis-CI changes will need to be authorized by the respective @MicroGSD Travis-CI user. Until then, all CI and code analysis will have to run privately in forks.

[2017-09-19 22:03] Shizola opened #38 "Creating new nodes clears selected materials."
Every time I place a new node my road base material gets set to none and I get a pink road. Using Unity 2017.1  Any Ideas?

[2017-09-21 21:37] djohns451 commented on #38
Is this while using a release or a git clone?

On Sep 19, 2017 6:03 PM, "Shizola" <notifications@github.com> wrote:

[2017-09-22 10:09] Shizola commented on #38
git clone

[2017-09-29 23:55] Shizola commented on #38
just found the unity package in the release section, works fine.

[2018-01-09 14:44] vageng opened #40 "Issue with Infinity code real world terrain"
There is an issue with using Road Architect with Real world terrain asset.
When creating road based on terrain heightmap generated with Real World terrain asset, road updates RealWorld terrain child objects (single terrain parts) transform 'y' coordinate to equalize difference between RealWorldTerrain parent gameobject and terrain parts (e.g. RealWorldTerrain elevation is -78, terrain parts is 30,

[2018-02-19 00:27] BailiffPLJD opened #41 "How to create tunnel"
How to create tunnel across terrain?

[2018-02-19 19:39] djohns451 commented on #41
You'd apply the Tunnel group to the node, however we do not handle punching
a hope through Unity's heightmap-based terrain.

On Feb 18, 2018 7:27 PM, "BailiffPLJD" <notifications@github.com> wrote:

[2018-02-19 21:05] #41 closed

[2018-02-25 21:48] AnnoyoingGamerz commented on #10
Sorry
I had never known how GitHub worked.
I just recently found out the basic, even though this site really is not hard to use...
I found R.A Release 1.6 today, and I would say, I am slapping my self in the face right now for not looking around earlier...
Damn, sorry for being that Annoying kid...
I wish I knew how to program better than I would help any way I could. And I still do what to help
H

[2018-02-26 00:14] Claw57 opened #42 "Support for Highways/Turnpikes"
I think a neat addition for R.A would be a Highway Integration!
Of course, a Highway Integration would be a big project! from customizable space in between Highway Sides to Ramps, tollbooths, and Lanes!
I Think there could be another Catagory for highway Nodes, From Exit Signs, and Gaurd Rails, to Lampost and, Overhead Signs.
Another Idea for Highways is a Tollbooth Entrance, you can select a Node

[2018-02-26 00:22] gsdnano commented on #38
The solution was to use the release version https://github.com/MicroGSD/RoadArchitect/releases instead of the git clone version.

[2018-02-26 00:22] #38 closed

[2018-02-26 17:12] djohns451 commented on #42
@AnnoyoingGamerz I'd suggest starting with the meshes, as code integration can take quite some time.

[2018-02-26 19:44] djohns451 commented on #42
@AnnoyoingGamerz I'll take a look to see what needs to be done to separate the sides.

[2018-02-26 22:46] AnnoyoingGamerz commented on #42
@djohns451 Sweet Ill start on the Meshes!!
When I am done is there a way I can send them to you?
Google Drive or something else?

[2018-02-26 23:32] djohns451 commented on #42
Commit them to your repository, I'll see how we can integrate them.

[2018-02-27 02:03] djohns451 commented on #27
@gsdnano Any update? We can clean up the code, if need be.

[2018-03-08 05:31] aammfe opened #44 "Update Release"
Hello!

Please update release package.
![image](https://user-images.githubusercontent.com/11896817/37134668-5bcbaf7a-22bb-11e8-9fd9-a1534ef2ea10.png)

If I directly download this repo materials looses texture references.

![image](https://user-images.githubusercontent.com/11896817/37134759-cfecbe62-22bb-11e8-9580-4c4eb28cadd3.png)

[2018-03-08 06:11] aammfe opened #45 "Closed loop Road"
Hello How could I use this plugin to make some thing like this.

![image](https://user-images.githubusercontent.com/11896817/37135978-6ec0edc4-22c1-11e8-99f6-5f40329e42d2.png)

but I could not make it closed.
![image](https://user-images.githubusercontent.com/11896817/37136938-819078a8-22c5-11e8-910a-ee7eb65a20c8.png)

Its a close loop road it has other details too.

[2018-03-08 06:37] aammfe opened #46 "Road Detailing Issue"
Hello!

Thanx for this gorgeous plugin ,

I m having detailing issue with road.
when ever I run car over it seems like its is raveling its details as I travel  on.

![image](https://user-images.githubusercontent.com/11896817/37136841-1cf20cae-22c5-11e8-81a9-b8e709b74434.png)

[2018-03-08 19:47] djohns451 commented on #44
@aammfe The code in the `master` branch isn't production ready. For general consumption, use the .unitypackage listed.

[2018-03-08 19:47] #44 closed

[2018-03-08 21:50] djohns451 commented on #46
That is an issue with the Standard shader that we're looking into.

[2018-03-26 21:09] tonygod commented on #45
As of right now you have to create your own custom gap-filler.  You can use planes, cubes, cylinders or make custom meshes with ProBuilder to fill in these gaps.  I hope one day there will be improved support for closed loops.

[2018-03-26 21:42] #46 closed

[2018-04-03 09:27] deltamish opened #47 "Access Spline Tangent and relevant position along spline for a given t value"
Hey,

I am trying to simulate an AI Car. The car needs to reset to a position along the track where it last got off (Like NFS games where once you crash you respawn to nearest point on the track)
And the car needs to orient in same direction facing the road ahead

Any idea or pointers on how I would go about it

Thanks

[2018-04-12 19:30] botiapa opened #48 "T-Junction"
Can I create a T-junction with RoadaRchitect? Any help would be appreciated.

[2018-04-15 19:16] botiapa commented on #48
How could I fix that?

[2018-05-04 18:32] ArtyIF commented on #48
This is a known issue. It's been there forever.

[2018-05-05 04:45] djohns451 commented on #48
Yeah, it's something we're working on, but so far the code assumes the
intersection is between roads of equal lane counts.

On Fri, May 4, 2018 at 2:32 PM, ArtyIF <notifications@github.com> wrote:

[2018-05-05 17:34] botiapa commented on #48
Then, is there any workaround to this?

[2018-05-06 06:03] ArtyIF commented on #48
well you can connect the ends of roads with different count of lanes. create a 4-lane road, make an intersection with another one and then connect the ends with 2-lane oneOn May 5, 2018 20:34, killswitch <notifications@github.com> wrote:Then, is there any workaround to this?

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-06 06:08] djohns451 commented on #48
Yeah, that works for now, it's a bit of a hack, though.

On Sun, May 6, 2018 at 2:03 AM, ArtyIF <notifications@github.com> wrote:

[2018-05-06 10:52] botiapa commented on #48
Okay, thanks for the help. I don't know if I should close this issue, as it isn't fixed. I think it's better if I leave this choice to the admin.

[2018-05-07 05:48] deltamish opened #49 "Creating Roads via Code"
Hey,

Q1.) Is there any way where the rods can be created via code. If so can you provide some example on hough to place the Road Points and also define the type of road.

Q2.) Is it possible to create roads at runtime ?

Thanks

[2018-05-11 16:01] lb28 commented on #47
I also am trying to access the position along the track, as I want a car to follow the track (without a waypoint system). @deltamish have you figured out a way? I haven't yet looked into all the code, but it has to be in there somehwere, the street is drawn somehow after all...

[2018-05-12 06:00] deltamish commented on #47
Hey,
There wasn't anything available inbuilt as such or maybe I didn't dig deep enough. So decided to use an external [BezierSpline ](https://github.com/yasirkula/UnityBezierSolution)Curve that gets placed along with the Spline Nodes of road architect.

The BezierSpline solution has a very good and detailed API calls available. Link FindNearestPoinTo,Move along etc.
Its a cheap hack for little eff

[2018-05-12 07:50] lb28 commented on #47
Hey, thanks for the info! One more thing: Did you have to manually draw the Bezier Curves along the route?

[2018-05-17 13:52] anpd03 commented on #49
Also interested in this, anyone that have done it?

[2018-06-01 09:00] ptcriuer opened #50 "import RoadArchitect-master to unity"
I want to know how to install this package into unity?

[2018-06-15 11:29] hemanth2410 opened #51 "not working in unity 2018.2"
Installed through unity package but road architect menu didnot appear

[2018-06-30 08:38] ofusion opened #52 "Predefined custom intersections like EasyRoad3D is needed"
It will be great if custom intersections is supported like EasyRoad3D.

[2018-07-06 22:02] tonygod commented on #50
you should ask these questions on the forum.  this is where you should report specific bugs.

[https://forum.unity.com/threads/road-architect-roads-intersections-and-bridges-for-unity-released.232335](https://forum.unity.com/threads/road-architect-roads-intersections-and-bridges-for-unity-released.232335)

You import the package just like any other custom unity package:  Assets->Import Package->Cu

[2018-07-06 22:02] #50 closed

[2018-07-06 22:03] tonygod commented on #51
A couple of API changes in Unity 2018 cause compile errors in a couple of scripts.  There appear to be a couple of other issues as well that I am trying to track down.

[2018-07-06 22:20] tonygod commented on #49
the best place for questions is on the forum -- the github issues area is for reporting bugs or requesting features.

[https://forum.unity.com/threads/road-architect-roads-intersections-and-bridges-for-unity-released.232335](https://forum.unity.com/threads/road-architect-roads-intersections-and-bridges-for-unity-released.232335)

RoadArchitect appears to be designed to only construct roads in the

[2018-07-06 22:20] #49 closed

[2018-07-06 22:36] tonygod commented on #48
This is a duplicate of #23

[2018-07-06 22:36] #48 closed

[2018-08-04 12:28] zezo010 opened #55 "Road Quality"
When using this asset with new Unity 208.2 , I found that the road quality is very bad and the road can't be seen good from above !!
I wish that if there any way to change road texture ( Asphalt ) to any texture i choose

[2018-08-05 15:01] ElectricDodger opened #56 "Downloaded files"
where will I put the downloaded files? thanks.

[2018-08-05 18:31] #56 closed

[2018-08-06 12:22] PauloDeMello opened #57 "Custom ShapeFile Road Network"

[2018-08-06 12:22] #57 closed, assigned to nobody

[2018-08-06 12:27] PauloDeMello opened #58 "Custom ShapeFile Road Network"
Hi,
I'm really interested in purchasing Real World Terrain to use with RoadArchitect.
My goal is to drape a shape file with traffic data over an elevation model of the UK.
I was wondering if there was a feature that would let me import the ShapeFile as a road network and visualize my point traffic data easily? If not, would I be able to do so within RoadArchitect / Real World Terrain?

Any help wo

[2018-08-07 07:38] mchrbn commented on #55
Had the same issue for the marking lines of my road it's because of Unity settings. I solved it by:
1) Make sure that Anisotropic Textures is on Forced On in Quality Settings
2) Select all textures in Materials/Markers/Textures and disable Generate Mip Maps in Advanced settings

[2018-08-08 23:33] ghost opened #59 "Road markers splinate below the pavement mesh for roads with two nodes"
Sorry if this issue has been reported before but at some point the road markers stopped being applied to all roads and even after deleting/replacing relaunching unity they have not come back.  Any way I can get around this or force them back on? Even if I add the markers to the materials check the box and hit apply they don't show up. Not sure if it is related or not but when they were showing up

[2018-08-09 09:17] zezo010 commented on #55
But it will affect on other tools and scripts used in the project ?  i will give it a try

thanks

[2018-08-09 13:59] djohns451 commented on #55
The issue is because of Unity's texture settings. I'll see if I can find
the relevant steps to follow in the Gitter chat room set up for the project.

On Thu, Aug 9, 2018, 02:17 zezo010 <notifications@github.com> wrote:

[2018-08-10 16:56] zezo010 commented on #55
I tried this steps
https://github.com/MicroGSD/RoadArchitect/issues/55#issuecomment-410964098
above and i get it but it's very noisy :(

[2018-08-11 17:07] djohns451 commented on #55
@zezo010 What kind of noise are you getting? You may see some z-fighting, but increasing the "Terrain subtraction" can help in that regard.

[2018-08-11 17:09] djohns451 commented on #59
See #55 on the stream distance.

[2018-08-11 21:10] Narcotic904 commented on #59
Yeah that fixed the stream distance and for whatever reason the road has to have 3 nodes or more to render any road lines.

[2018-08-12 09:08] zezo010 commented on #59
@djohns451 the lines and colors more sharply and affected on any object on it.

[2018-08-12 09:10] zezo010 commented on #55
@djohns451 the lines and colors more sharply and affected on any object on it.

[2018-08-15 05:17] theshinyknight opened #60 "Applying a road segment modify inconsistently the terrain."
I noticed a strange behavior with terrain: when applying different road segments; instead than having the segment to comform to the terrain, the terrain is raised; causing a sort of platform below the road; while the expectation was that the road would sit almost flush on the terrain, using the offset value in the parameters to avoid Z-fighting.

Also the area around the road is affected; with the

[2018-10-27 20:09] embeddedt opened #61 "Bridge visible under road (mesh calculation error?)"
When creating a bridge by following the tutorial, the bottom of the bridge seems to project through the road.

![screenshot from 2018-10-27 16-07-52](https://user-images.githubusercontent.com/42941056/47608859-87ec4c00-da02-11e8-8092-9db7f33ea3ed.png)

Increasing `Terrain subtraction` did not help.

[2018-10-27 20:15] embeddedt commented on #61
At the moment I can work around this by manually lowering the bridge bottom in the Unity Editor every time I move the node, but this is annoying.

[2018-11-13 23:21] embeddedt commented on #61
A slightly better workaround: change vertical raise in the extrusion/edge object options. Still not ideal.

[2018-11-14 00:13] MicroGSD commented on #61
Hi embeddedt,

- Can you please post a bigger screenshot?
- My first thoughts there are to check the road grade.  Lots of times when I ran into that it was because I was using unrealistic road grades (which looked normal enough in the editor).
- What is the terrain resolution being used here?

[2018-11-14 00:14] embeddedt commented on #61
@MicroGSD Yes, it was with a very steep road grade. I have noticed the problem doesn't occur when using low road grades. So maybe this isn't really a bug.

Nice to see that this project still has some activity!

[2018-11-14 00:29] embeddedt commented on #61
@MicroGSD

That is GREAT news! I discovered RA recently and I was *really* impressed by the whole product (and the amazing sign/bridge quality, awesome job!), but some of the random bugs that occured (especially on Unity 2018) made me question whether it would be a good asset to rely on. I'd be glad to help with fixing stuff if you'd like, but I don't know anything about procedurally generating me

[2018-11-30 12:49] embeddedt commented on #47
@flibblesbane Not sure if you are still using RoadArchitect but I am working on making simple traffic work and I am removing some unnecessary `#if UNITY_EDITOR` along the way.

If you're interested have a look at https://github.com/embeddedt/RoadArchitect. Please note that it's not production-ready software.

[2018-11-30 15:40] embeddedt commented on #61
@MicroGSD Thanks for the invitation! I have a fork at https://github.com/embeddedt/RoadArchitect with some bugfixes/improvements. If you would like I can merge back my changes with a pull request.

[2018-12-05 17:29] embeddedt commented on #60
@theshinyknight

Can you try to reproduce this issue on https://github.com/embeddedt/RoadArchitect?

Depending on how you are placing the road this is sometimes expected behavior.

There is a height match width setting (I will get the exact name later) that you can reduce to keep this from being visible as much.

Try deleting the road one node at a time and see if the problem persists.

[2018-12-05 17:55] embeddedt commented on #51
@hemanth2410 Please try https://github.com/embeddedt/RoadArchitect.

[2018-12-05 17:55] embeddedt commented on #45
@aammfe My fork should handle this now: https://github.com/embeddedt/RoadArchitect.

[2018-12-05 17:57] embeddedt commented on #58
@PauloDeMello You cannot import road networks into RoadArchitect at this time.

[2018-12-06 13:17] #51 closed

[2018-12-06 13:17] #27 closed

[2018-12-06 13:17] #9 closed

[2018-12-06 13:18] #58 closed

[2018-12-07 02:47] djohns451 commented on #55
@embeddedt, @zezo010 Marker textures now have a degree of anisotropic filtering applied, which should, for the most part, mitigate this effect.

[2018-12-07 02:47] #55 closed

[2018-12-21 09:18] #31 closed

[2018-12-21 19:19] embeddedt commented on #59
OP's user account has been deleted and I fixed the issue in https://github.com/embeddedt/RoadArchitect/commit/8d185ec88b02e4b01d57c26d77acea8fd74d8479.

[2018-12-21 19:19] #59 closed

[2018-12-21 20:31] embeddedt commented on #33
Fixed in https://github.com/embeddedt/RoadArchitect/commit/f3250697d7d48bc16b70ff84086e9a5500a29b93.

[2018-12-21 20:31] #33 closed

[2018-12-21 20:33] embeddedt commented on #7
The pull request @RayRay26 made fixes this issue.

[2018-12-21 20:33] #7 closed

[2018-12-21 20:37] embeddedt commented on #45
If you have problems with closed loops please open an issue on my fork.

[2018-12-21 20:37] #45 closed

[2018-12-28 12:52] FelixCM opened #62 "Error message in Unity 2018.3 MacOS (RoadArchitect V1.7)"
Hi, I am new to RoadArchitect and super excited to get started with this tool!

Unfortunately I get the following error message when adding or inserting a new node on my terrain:

When adding another node using control I get the same error again and an out of bound error:

If I add a second node using shift+click Unity freezes and I have to force quit the application.

I made sure that all the fil

[2018-12-28 12:58] FelixCM commented on #62
Update: If I move the RoadArchitect main folder into a sub-folder everything seems to be working fine except for that none of the materials are being found. I hope this helps resolving the issue.

[2018-12-28 19:04] #61 closed

[2019-01-03 13:05] MuhammadWaqasOfficial opened #63 "Height Match Not Working On Really Big Terrain (25000 x 25000)( Heightmap 129)"
I have really big terrain 25000x25000 with heightmap of 129. Tool works fine with low width,length terrain but have issue with height match. when i lift the nodes or make new nodes, terrain wont affected only roads mesh updates.

[2019-01-03 13:09] embeddedt commented on #63
@MuhammadWaqasOfficial I can't recall the discussion but I think RoadArchitect doesn't work or has major problems when using really large terrains. Can you try it with a smaller terrain (maybe 10000x10000) and see if the issue goes away?

[2019-01-03 13:12] MuhammadWaqasOfficial commented on #63
yes it work fine with 10000x10000

[2019-01-03 13:22] embeddedt commented on #63
@MuhammadWaqasOfficial I will try and reproduce the issue on my end later. In the meantime please check that height modification is enabled for the road.

[2019-01-03 13:51] embeddedt commented on #63
@MuhammadWaqasOfficial I can't reproduce the issue. Can you create a small test scene to reproduce it?

[2019-01-03 13:57] MuhammadWaqasOfficial commented on #63
okay thank you.
downloading and checking.
previously i download this unity package
https://github.com/MicroGSD/RoadArchitect/releases

[2019-01-04 08:05] MuhammadWaqasOfficial commented on #63
no success with this also.
i guess i have to use multiple terrains instead of single terrain.
thank you for support sir.

[2019-01-12 14:38] Flavelius commented on #63
129 is way way way way too small for a terrain this size and that's very likely the problem, not enough resolution to adapt.

[2019-01-12 14:42] MuhammadWaqasOfficial commented on #63
hmmmm.
what should i do now?
what value you think is good for that big terrain?

[2019-01-12 15:33] embeddedt commented on #63
@Flavelius Thanks. That makes a lot of sense. The problem I found is that Unity heightmaps can't be bigger than  4097, and when I used 4097 the editor grew very slow and eventually crashed. (I hadn't even put a road on the terrain yet.)

[2019-01-12 15:54] Flavelius commented on #63
Do it any big game does it, split the terrain into many small pieces that in turn can then even have high resolution maps and stream them in. The new terrain system (2018.3 even has built-in features to create and connect those tiles)

[2019-01-12 16:00] MuhammadWaqasOfficial commented on #63
okay sir

[2019-01-13 19:22] ghiboz opened #64 "subdivide road mesh"
hi all!
congrats for this asset:
I have a question: changing the `road definition` I'm able to determine how many tri is subdivided the lenght of the road..
is there a way to have a similar parameter to divide by the width? and if this, also create a section of the road, to make the center more raised or vice-versa

thanks!

[2019-01-19 09:57] MuhammadWaqasOfficial opened #65 "Single RoadArchitectSystem Vs Multiple RoadArchitectSystem"
Using RA first time.
Need Suggestion.
Single RoadArchitectSystem for entire road system Or multiple RoadArchitectSystems for roads?

[2019-01-19 12:32] embeddedt commented on #65
@MuhammadWaqasOfficial You should be able to use a single RoadArchitectSystem for all of your roads.

[2019-01-19 12:46] MuhammadWaqasOfficial commented on #65
Okay Sir.
Thank you

[2019-01-19 12:57] #65 closed

[2019-01-21 14:30] cchadj01 opened #66 "Can not create new Roads."
Hello,
 I am having a problem with creating a new road.
 I create a terrain and then create the road network and then I click add road.
 When I click ctrl + click instead of placing a node the terrain is selected.
 I want to add the red marker that shows where the node will be shown is not even displayed (unlike
 the videos with the tutorial).
 Am I missing something? If this doesn't belong here p

[2019-01-21 14:40] cchadj01 commented on #66
I have  resolved this issue.
I was using a custom layout and it seems I broke something with it and Gizmos (OnDrawGizmos()) wasn't drawn in scene view. (Although I had all layers ticked and all gizmos shown in the scene view). I don't know what caused the problem and this problem DOESN NOT have to do with RoadArchitect.
Sorry for the inconvenience.

[2019-01-21 14:40] #66 closed

[2019-01-21 17:12] MuhammadWaqasOfficial opened #67 "z fighting issue between road decals and road"
first every thing is working really good in editor. but having issues in mobile.
Using the released version (https://github.com/MicroGSD/RoadArchitect/releases)
1- z fighting issue between road decals and road
2- road decals shows only few meters from camera. beyond that is seeing really bad blur.(which look worse when driving truck)
3- overall road sides ( where road shoulders ends)(don't know if

[2019-01-21 17:38] embeddedt commented on #67
Try my version of RoadArchitect. It should have a fix for this issue.

[2019-01-21 17:42] MuhammadWaqasOfficial commented on #67
okay sir.
thank you for support.

[2019-01-22 07:18] MuhammadWaqasOfficial commented on #67
unreleased version (github.com/MicroGSD/RoadArchitect & github.com/embeddedt/RoadArchitect)   have issue of road markings. it is not making road lanes (road marker). after one line of road lane it is stretched i guess.
See images
![issue2](https://user-images.githubusercontent.com/32755091/51518269-2d1a9300-1e3f-11e9-82f3-0ac17ced9523.png)
![heirarchy](https://user-images.githubusercontent.com/327

[2019-01-22 12:16] embeddedt commented on #67
I think @Zireael07 is correct. I have used my version of RoadArchitect on many platforms and several versions of Unity and I don't see this issue. Maybe your quality settings are set too low.

[2019-01-22 12:42] embeddedt commented on #67
@MuhammadWaqasOfficial I made a simple scene with those quality settings and I can't reproduce the issue.

[2019-01-22 15:57] djohns451 commented on #67
@Zireael07 Anisotropy changes were pushed a bit back. As long as you are
using the latest commit, it shouldn't be an issue.

On Tue, Jan 22, 2019, 07:42 Themba D <notifications@github.com wrote:

[2019-01-22 16:32] embeddedt commented on #67
@djohns451 I think this is a different issue. The other problem was because the mipmaps were being generated incorrectly, resulting in blurry and invisible road lines **at a distance**. Here we are seeing blurry lines when there is barely any distance between the camera and the road:

![](https://user-images.githubusercontent.com/32755091/51518271-2d1a9300-1e3f-11e9-98b2-08e0b54797aa.png)

[2019-01-24 08:55] MuhammadWaqasOfficial commented on #67
thank you guys for responding and supporting.
z fighting issue is resolve. what i find out in my case is clipping planes (near) problem. i decrease the value to 0.01f which cause the problem. i change the value and it resolve.
now RA looking really great with my unfinished environment.

[2019-01-24 09:07] MuhammadWaqasOfficial commented on #67
road markers appear correctly.
one thing more, road markers texture stretching issue appears only in unity( 2018.1.0f2) for me. road markers showing correctly in mobile build.

Thank you Again

[2019-01-24 15:46] embeddedt commented on #67
@MuhammadWaqasOfficial The texture stretching sounds like a project-specific issue, since I can't seem to make it happen over here. So I will close this issue. Glad to hear it is working now.

[2019-01-24 15:46] #67 closed

[2019-02-08 02:40] djohns451 commented on #23
@tonygod `GSDRoadCreationT.RoadJob_Prelim()` looks just as bad, something like 1500 SLOC. I'm working on refactoring it to add support for banked turns, but I can look into that function too.

[2019-02-14 08:11] nonbinary-duck commented on #63
If you honestly do need 25x25k of terrain I would recommend breaking it down into 2x2k chunks (which would make a sh*t ton of tiles) and then making a script that unloads and loads them in if the camera isn't facing them of if they're obscured by the cameras view range. Even having 9 2x2k tiles at 2048x2048 height and splat will drop a modern card down to 40fps so you would defo need the loading/u

[2019-02-23 19:33] tonygod commented on #23
Whatever you can do, I appreciate and support.  It's a difficult problem to get just right and yet it's so important because of all the real-world examples of non-uniform intersections.

[2019-02-23 19:40] tonygod commented on #63
Because the Transform class in Unity uses type float in the Vector3 class for position and rotation, terrain sizes and positions beyond 10K will result in inaccurate mathematical calculations that will cause all kinds of things to be off in your project.  As suggested, stick with smaller terrain (and mesh) chunks and have a system for keeping everything within 10K distance at all times.

I recomme

[2019-02-23 19:47] #63 closed

[2019-03-07 11:37] johnny77lee opened #68 "How to Change the Lane Width of the Road?"
Hi ,

In the RoadArchitect ， Default Lane width is 5M of the Road .
But in the Inspector of Road，when I change the "Lane Width" to other Value (ex. 8M )  in Road options ，
I couldn't found any change of the Road .
If I press the icon like "enter" in the Road options , the value of Lane width will return 5 M .

So......Would you provide the rule about "How to Change the Lane Width of the Road ? "

[2019-03-07 13:53] embeddedt commented on #68
@johnny77lee Try changing the value to 8 meters and then clicking on another textbox. The "enter" icon actually means "reset to default value".

[2019-03-13 16:10] FritzsHero commented on #68
This Issue was already answered by embeddedt; I do want to add some Lines to this.

You can change the Road width by changing the "Lane width" to the desired value and then clicking onto another check box. The Road then should automatically update itself. You could also enter the value into the field and manually press the "Update Road" Button.

I hope this answered your question.
This answer clos

[2019-03-13 16:10] #68 closed, assigned to nobody

[2019-03-22 18:22] anthonyromyn opened #69 "Some Objects Not Being Displayed"
Hi RoadArchitect Team,

Great product, really like it. Thanks so much for making it. While using it I encountered a bit of strange behaviour, however, and I haven't been able to figure out how to fix it.
1. When I load a prefab, the road and concrete divider don't load until I hit the update road button. Then, if I save and reload, the same behaviour occurs.
2. Then, when running the game we are b

[2019-03-22 18:52] embeddedt commented on #69
@anthonyromyn If it's not a lot of work, would you mind trying [my fork](https://github.com/embeddedt/RoadArchitect) to see if that has the same issue?

[2019-03-25 14:55] anthonyromyn commented on #69
@embeddedt Hey thanks so much for the response. Tried out your fork, but same behaviour. Video is here in case it's of any help https://vimeo.com/326345898

[2019-03-25 15:37] embeddedt commented on #69
@anthonyromyn Not sure if this is possible for you, but could you create a simple project that you can upload that reproduces the issue?

[2019-03-25 18:07] anthonyromyn commented on #69
Woops sorry didn't mean to close this haha. Hmm yep will get back to you in a few!

[2019-03-25 18:21] anthonyromyn commented on #69
Okay @embeddedt here's the software https://github.com/DuncanLab/RoadRAGE. If you could try building a RoadArchitect road on /Assets/Forest400mBaseTerrain that would be extremely appreciated! Thanks!

[2019-03-26 20:50] embeddedt commented on #69
@anthonyromyn I downloaded your project and gave it a try. Unfortunately I wasn't able to reproduce the issue... not sure why.

I also just realized that there were some fixes that I never merged into my fork. I just applied those and pushed them to GitHub... could you give it another try?

If it still doesn't work I'll be happy to investigate further.

[2019-03-27 13:41] anthonyromyn commented on #69
@embeddedt Thanks! I tried but same behaviour. One thing I noticed though is that the master fork at https://github.com/embeddedt/RoadArchitect says last commit was Feb 10th. Is that okay or am I using the wrong fork?

[2019-03-27 13:48] embeddedt commented on #69
@anthonyromyn That commit is correct.

Hmm. There must be something in the steps you're following that I'm not doing. Here's what I did:

1. Make a new scene.
2. Create the road system (but not place the nodes yet).
3. Drag Forest400mBaseTerrain.asset into the scene view (makes the terrain).
4. Add the road on the terrain.
5. Add the concrete divider to the center of the road.

When I did that, I

[2019-03-27 13:58] anthonyromyn commented on #69
@embeddedt ah okay I see something new that I think is important: I was thinking I'd be able to save the road network + terrain as a prefab to then load into scenes, as opposed to saving the road network + terrain as a scene itself. When I save them as a scene, I get the same behaviour as you (things look good when I load that scene). It's when I try to save them as a prefab where this behaviour i

[2019-03-27 14:04] embeddedt commented on #69
That is your problem. You can't (easily) prefab the road network like you would with a standard Unity object.

[2019-03-27 14:11] anthonyromyn commented on #69
@embeddedt Okay thanks so much for your help with this. You think I should use another road tool, then? If you have any recommendations I would be all ears!

[2019-03-27 15:06] djohns451 commented on #69
@anthonyromyn You're welcome to check the "Save Mesh Assets" button on the RoadSystem, if you are unable to create the roads programmatically. Once the mesh assets are saved, you just have to add instances of them to the Prefab objects you need.

[2019-03-27 15:07] embeddedt commented on #69
@djohns451 Doesn't "Save mesh assets" have performance issues?

[2019-03-27 15:09] djohns451 commented on #69
It does, but that's only when the meshes are generated, as it has to spend time saving the meshes.

[2019-03-27 15:12] djohns451 commented on #69
The preferred way would be to use [GSDRoadAutomation.Create_Programmatically](https://github.com/MicroGSD/RoadArchitect/blob/master/GSDRoadAutomation.cs#L31) if in the editor.

[example](https://github.com/MicroGSD/RoadArchitect/blob/master/GSDUnitTests.cs#L349)

[2019-03-27 15:14] djohns451 commented on #69
However, if you are not instancing your roads in the Editor, you would need to save the mesh assets and add them to the prefabs.

[2019-03-27 17:44] anthonyromyn commented on #69
@djohns451 @embeddedt Early returns on using save mesh assets looks like it will work great for what I need! Thank you both so much for your help!

[2019-05-31 18:44] FritzsHero commented on #62
Hello FelixCM,

do you still have any problems with the code?
Yes, currently the "working" path is bound to some locations. One of them being "/Assets/RoadArchitect".
Placing all RoadArchitect stuff inside that folder should ensure everything is working as expected.

I will close this ticket. Feel free to reopen it or to create a new ticket, if you got any problem.

Greetings
Fritzs

[2019-05-31 18:44] #62 closed

[2019-06-06 12:39] Abirrahat opened #70 "how to convert whole road object into prefab?"

[2019-06-06 13:22] embeddedt commented on #70
@Abirrahat This is not supported and will not work. You would have to use the "Generate mesh assets" option under the road system, but AFAIK that option hasn't been tested in a while.

[2019-06-06 13:22] #70 closed, assigned to nobody

[2019-07-16 20:14] yahya858 opened #71 "default settings"
hi ı open package and default setting not  there and bridges start ,end doesn't exist .I tried unity version 2019.1.9f1 and 2018.1.9f2 it is same on both can you help me
![Ekran Alıntısı7](https://user-images.githubusercontent.com/49416110/61326231-fa19f080-a81e-11e9-8b4f-69ea6e5eb076.PNG)
![Ekran Alıntısı](https://user-images.githubusercontent.com/49416110/61326232-fa19f080-a81e-11e9-8efd-a44b314

[2019-07-17 00:47] embeddedt commented on #71
First off, I would recommend using FritzsHero's fork. It has several bug fixes and a few other features.

Second, the base folder needs to be named just `RoadArchitect` (and nothing else).

Hope that helps.

[2019-07-26 11:27] FritzsHero commented on #71
Sorry for taking ages to reply.
The main problem you are facing is that the RoadArchitect folder in your project is named RoadArchitect-1.7 instead of just RoadArchitect .
This seems to be a problem by the unitypackage, I might republish a fixed 1.7 version.

As embeddedt already stated there is a more up to date version available on his fork and my fork.
If you need RoadArchitect in a stable stat

[2019-07-26 11:42] FritzsHero commented on #29
What exactly is this about?
And where is this so called "Traffic system"?
An answer from former maintainers would be great, otherwise we can close this issue down I guess.

[2019-07-26 12:20] yahya858 commented on #71
thank you problem solved

[2019-07-26 12:20] #71 closed, assigned to nobody

[2019-07-26 12:33] embeddedt commented on #29
There was a traffic system that was never publicly released, because (from what I read) it was rather unstable.

[2019-07-27 16:57] djohns451 commented on #29
MicroGSD, now gsdnano, is the only one with access to source code of that
traffic system project.

On Fri, Jul 26, 2019, 08:33 embeddedt <notifications@github.com> wrote:

[2019-09-15 21:29] kinetixx commented on #47
try for position and rotation:
`Vector3 v1, v2;
spline.GetSplineValue_Both(Mathf.PingPong(Distance, 1f), out v1, out v2);
this.transform.localPosition = v1;
this.transform.localRotation = Quaternion.LookRotation(v2);`

[2019-11-21 17:09] JoshCodeStuff opened #72 "Attempting to place road node, doesnt place, selects terrain"
Unity 2019.2.10f1

So basically, I hold control and click to place a node, but it doesn't place, instead it selects the terrain behind it. I am on the linux version if that changes anything.

[2019-11-21 17:26] embeddedt commented on #72
Do you have the road system object selected when you attempt to create a node? Did you restart Unity after installing Road Architect? Can you try [my fork](https://github.com/embeddedt/RoadArchitect) and see if it works?

[2019-11-21 17:36] JoshCodeStuff commented on #72
Ill give it a shot, thanks man!

[2019-11-28 16:25] JoshCodeStuff commented on #72
EDIT: this still happens, ot sure whats up, I am going to test an older version of unity

[2019-11-28 16:51] embeddedt commented on #72
I have used it with 2019.2 on Linux before and it worked fine, so I'm surprised that you are having issues.

[2019-11-28 18:41] JoshCodeStuff commented on #72
Huh that's very weird. maybe it has to do with assets I have imported currently?

[2019-11-28 21:26] FritzsHero commented on #72
Hello JoshCodeStuff,

I tested it today at 2019.2.4f1 and got some problems.
First of all, did you place the RoadArchitect files into the Assets/RoadArchitect folder?
This is the only **fully** supported path for the RoadArchitect files as of now.

For me my 2019.2.4f1 problem on windows was fixed after updating all installed packages in the package manager.
Maybe updating this packages helps?

Be

[2019-11-28 23:25] JoshCodeStuff commented on #72
Yes to this > First of all, did you place the RoadArchitect files into the Assets/RoadArchitect folder?

I deleted and reinstalled it and it works now. not sure how, thank you everyone!

[2019-11-29 08:10] MuhammadWaqasOfficial opened #73 "Thanks Road Architect"
So with the help of road architect i managed to build one of biggest road network for my mobile simulation game (20,000x20,000 Terrain Width,Length). I will share my game this week with you guyz.
And you let me know hows the road architect looking in my game.
Thanks Road Architect.
Regards
Muhammad Waqas

[2019-12-24 07:26] MuhammadWaqasOfficial commented on #73
Game Live On Play Store : https://play.google.com/store/apps/details?id=com.redstonecreatives.silkroadtrucksimulator

[2019-12-29 07:22] Romaulderine commented on #30
Hi, could you please tell me where I can find the official API?

[2020-01-07 07:41] theshinyknight opened #74 "There is a shoulder option but no sidewalk?"
Trying to add a sidewalk, but it seems that there is no option for doing so on the road node.
Is there a specific option to add sidewalk? I would assume they can be added as side objects like barriers and lights, but I find strange that they are not part of the main set of assets?

[2020-01-30 15:05] Bokonon1st opened #75 "Cannot install into Unity"
I am trying to install, I use assets>packages>install>install custom package.... everything seems to run fine and I can see RoadArchitect in my assets folder but I have no menu option to use RoadArchitect.
Am I missing something?

[2020-01-30 15:18] embeddedt commented on #75
Sometimes you need to close and re-open Unity before it picks up on the menu option.

[2020-01-30 15:49] Bokonon1st commented on #75
Started in again but still not there, thanks though.

[2020-01-30 16:07] embeddedt commented on #75
Is the folder hierarchy exactly this: `<project root>/Assets/RoadArchitect`? If it's not named with the exact name of `RoadArchitect` I think there might be issues.

If it still doesn't work, do [my fork](https://github.com/embeddedt/RoadArchitect) or [@FritzsHero's fork](https://github.com/FritzsHero/RoadArchitect) work?

[2020-01-30 18:50] Bokonon1st commented on #75
Same result, losing hair now. I am new to this, I can't even get started.
Assets/RoadArchitect is the file location.

[2020-01-30 19:30] embeddedt commented on #75
Any errors in the console?

[2020-01-30 20:22] FritzsHero commented on #75
Hello Bokonon1st,

what Unity version do you use?
To install RoadArchitect you just need to download the sources from the releases and unzip the RoadArchitect folder into your Assets directory.
If this does not work for you, could you please tell us which OS you use?

Best Regards

Fritzs

[2020-01-30 20:58] Bokonon1st commented on #75
These are the errors that I get, I have been using the .unitypackage version. I will try unzipping instead if that can help.
I run Windows 10 64 bit and am up to date with windows updates for my sins.

![errors](https://user-images.githubusercontent.com/50710305/73489835-98306b00-43ab-11ea-83eb-9ae145cc8b5b.PNG)

[2020-01-30 21:21] FritzsHero commented on #75
These warnings so far have nothing to do with RoadArchitect.
They are produced by your installed packages.
Could you clear your Console and/or only show errors of your project?
You can select to only display errors at the top right corner of the console window. (Deselecting Logs and WarningLogs)
If there are errors left, they might prevent compilation of your and the imported scripts, so please tr

[2020-01-30 21:27] embeddedt commented on #75
Definitely try downloading the ZIP from GitHub and unzipping that (and be sure to rename the folder to `RoadArchitect`, not `RoadArchitect-master`). The `unitypackage` version is getting older and I don't know if it works properly with newer versions of Unity.

[2020-01-30 22:29] Bokonon1st commented on #75
Do I unzip into Assets folder?
Tried it, another guy from the Unity forum installed it using the same Unity version as me and posted a screen shot. Minutes!! I have been trying for days now to find a solution. I am a complete noob to Unity, but not to programming. I am used to days of frustration and hair pulling, until that eureka moment comes and I feel like God himself xD
Anyone finds my soluti

[2020-01-30 23:25] embeddedt commented on #75
Yes. After you unzip it the folder hierarchy should be like [what I mentioned above](https://github.com/MicroGSD/RoadArchitect/issues/75#issuecomment-580326010).

Did you try what @FritzsHero said (clear your console and only show errors)?

Did you try this in a fresh Unity project, or an existing one?

[2020-02-03 14:44] Bokonon1st commented on #75
I have reinstalled Unity completely now, re-installed and now it works as it should. I didn't choose Android and iOS support options this time though. Maybe that was the issue. Thank you all for your time and support.

[2020-02-03 17:01] FritzsHero commented on #74
Hello @theshinyknight,

Yes, this is correct, currently there is no option to add sidewalks.
The best option for creating sidewalks currently, might be the edge objects or the extrusion objects.
I mark this as a feature suggestion for the future.

Best Regards,

Fritzs

[2020-03-21 02:43] muqtadirabbasi opened #76 "simulate car"
Can i simulate car on this road architecture, i am not able to place a car. Any idea please

[2020-03-21 02:49] fmuqtadi opened #77 "car simulation"
i want to simulate a car, anyone can help me?

[2020-04-11 12:52] MuhammadWaqasOfficial opened #78 "Road Architect For Offroad Environment"
Hi i use road architecture for my last game. its good to use it. Now I want to use it for offroad game. I wonder if features regarding offroad environment also added.
Regards
Muhammad Waqas

[2020-04-25 05:47] pprply opened #79 "Traffic light position"
Just... sorry,  seems like i push the wrong button

[2020-04-25 05:49] #79 closed, assigned to nobody

[2020-05-02 20:40] YeshanJay commented on #11
Any updates or thoughts on this?
Any hope for this feature to be implemented in the future? 😄😬

[2020-05-02 21:39] FritzsHero commented on #11
If you could make a list what is necessary for driving on the left side of the road, regarding this road system, I would be happy to help you.
I can probably even implement it as a addition to the current stable release, what version do you currently use? 1.6 or 1.7 or 1.9

[2020-05-08 19:17] gbagiryan opened #80 "Terrain deformation"
Hi, first of all want to thank you for this asset, it is definetly the best one I could find.
The issue I'm having is that I have an uneven terrain (which I made from a mesh with object2terrain script). So whenever i place a road the terrain doesn't rise with the road it seems like the asset considers not the surface of the terrain but the zero height point of it. Am I missing something? Also wher

[2020-05-08 21:13] YeshanJay commented on #11
Hi @FritzsHero

I guess the first thing would be to render the lane stop marks on the left, and the signs and arrows too.

Will be using the latest version (btw, is 1.9 released yet?).

Thanks mate.

[2020-05-17 08:11] FritzsHero commented on #80
Hello,

are you using the standard unity terrain? If yes, this should work. Maybe you need to manually assign a GSDTerrain to your Terrain in the Editor.

Best Regards

Fritzs

[2020-05-17 08:24] FritzsHero commented on #78
Hello,

you can probably use the normal road system to create a offroad environment. Just switch the road textures with your offroad textures. Also you should be able to deactivate the shoulders of the road with the "Shoulders enabled:" option, if you prefer just the road.

Best Regards,

Fritzs

[2020-06-09 14:26] adrenak commented on #72
I had the same issue and decided to try to debug the code. Turns out the [OnSceneGUI method doesn't run at times](http://answers.unity.com/answers/1418260/view.html) and the handling of control+click happens there.

I was using multiple inspectors on multiple monitors. I just changed to the default editor layout and it started working. Then I changed back to my preferred editor layout and it kept

[2020-07-20 06:41] Najaf93 opened #81 "Using custom base materials for roads"
Does anyone know how to use custom materials for roads?

[2020-08-19 00:42] rynex-zv opened #82 "openstreetmap"
hi , how can i import .osm / openstreetmap data ?

[2020-08-19 00:44] embeddedt commented on #82
There is no feature for importing existing road networks at this time. You'll have to recreate the roads yourself.

You may be able to simplify the process by setting a Google Earth image or something similar as your terrain texture, but you would still need to place all the roads by hand - that would just give you a guide to place them by.

[2020-08-20 03:44] aquaclasher opened #83 "Road goes in the terrain"
First thing I love the asset. Only problem is that the road goes in the terrain sometimes and I am not telling about the entire road or a part between two nodes , it's any random part and random size. And I am not able to make more than one proper intersections. The first intersection works perfectly but the second intersection onwards the road is under the terrain. I am using the standard terrain

[2020-08-26 20:33] rynex-zv commented on #82
ok , thanks!
do you know how can i add a crosswalk  ?

[2020-08-31 06:56] linwe2012 opened #85 "Manipulate via script"
Can I manipulate the roads via c# scripts. Do I have ro modify source code to do that? If modification is needed, could anyone give some hints on how to do it?

[2020-08-31 20:33] FritzsHero commented on #85
Hello,

in the version 1.6 to 1.9 of RoadArchitect usage is basically limited to just inside the unity editor. Look into RoadAutomation for creation of roads by script in editor. These functions do not work in a build game. However I removed this limitation for version 2.0 of RoadArchitect. I am still working on 2.0 so I can not give any timing on when I will release 2.0 .
You should take a look a

[2020-09-05 12:08] marcell123455 opened #86 "question / suggestion"
Is it somehow possible to get the spline data which the road uses for generation? I could only find a spline which contains these red lines at the endings of the road. This is not what I want.

Any ideas? 😅

[2020-09-06 11:50] marcell123455 commented on #80
Try setting the position of the terrain to 0.0.0 and the road system also.

[2020-12-26 08:06] CoderAkshat227 opened #87 "No option for start/end brindge"
There's no option on the spline n script for any type of bridge start/end. I'm following the tutorials but the bridge start and end are just not there. Furthermore, there is no bridge customization option. PLEASE HELP ASAP.

[2020-12-26 08:07] #87 closed, assigned to nobody

[2021-04-28 23:22] umayr-r opened #88 "Road is pink and no textures are put on"
https://www.youtube.com/watch?v=sS-qAdlID68

i was watching this tutorial
when he put the road down it automatically put the texture like a road
when i do it, it places a road. but its pink. i put a texture on it, it puts it in the middle
![image](https://user-images.githubusercontent.com/83378213/116484411-eb2ff100-a880-11eb-882c-ba8be943108f.png)

[2021-04-28 23:23] embeddedt commented on #88
Please try [@FritzsHero's fork](https://github.com/FritzsHero/RoadArchitect) - this is a known bug with upstream RoadArchitect and newer versions of Unity.

[2021-04-28 23:27] umayr-r commented on #88
so with the current asset i have, should i delete it and use this one? or is this an extension

[2021-04-28 23:27] embeddedt commented on #88
You should delete this one and install the other one - it's a full replacement, not just an extension.

[2021-05-26 08:40] pioj opened #89 "Close circuit & reverse order of nodes, pls."
Hi, as many people asked before me, Is there a way to close the circuit by connecting the 1st and the last node of the same road?

Also, could you please add the option of reversing the order of nodes, or allow the Camera to travel in reverse order, in the **_Editor Camera Travels_** 's section of the component, pls?

Thanks a lot.

[2021-07-19 16:51] parvanehAghajani opened #90 "Build standalone game"
Hello,

I have used RoadArchitect to create road network in runtime using script.
I need to build all roads when the player starts the game, but I am getting build error because of UNITY_EDITOR! Is there anyway to change the source code to build standalone game?
Or is there any patch to support this?

Thank you

[2021-07-19 16:56] embeddedt commented on #90
Upstream RoadArchitect does not support building roads at runtime and likely never will.

However, I think @FritzsHero may have been working on this functionality in his [fork](https://github.com/FritzsHero/RoadArchitect).

[2021-08-30 10:47] oeyXD opened #91 "Road Architect materials not working in Unity 2020 PC"
So I'm working on a game about action/adventure, shooter, open world genre of game and when creating roads using the Road Architect and what I come across is something like this:

![image](https://user-images.githubusercontent.com/89714220/131326345-2e1d6a74-cd05-4342-8f56-7e6db6001b07.png)

And I don't understand what is happening or why this is happening. And I already tried to tweak some settin

[2021-08-30 12:36] embeddedt commented on #91
Probably the same issue as #88.

[2021-08-30 13:50] oeyXD commented on #91
For those who have the same problem, the solution might be this:

Go to a material and set the Shader to HDRP/Lit, if you're in a HDRP project.

[2021-08-30 13:50] #91 closed, assigned to nobody

[2021-08-31 21:50] djohns451 commented on #90
I have write access to this repository, and I'm certainly willing to merge
in PRs, but don't have time for much else myself.

On Mon, Jul 19, 2021, 12:56 embeddedt ***@***.***> wrote:

[2021-09-18 14:43] giorgi-abashidze opened #92 "support for latest unity releases?"
hi, are you working for supporting latest unity releases? 2018 is pretty old now.
and one more question, how can I connect 2 way and 4 way roads?

[2021-11-15 20:31] djohns451 commented on #91
There is also an HDRP branch (a bit out of date, but it should update fine)
for this case, which should be in my fork.

On Mon, Aug 30, 2021, 09:50 oeyXD ***@***.***> wrote:

[2021-12-21 09:22] NikitaSavik commented on #85
Sorry for bumping this, just checking if there is an unlocked version somewhere?
Is it possible to build roads at a runtime right now?

[2022-01-25 09:26] MatriX1232 opened #93 "Cannot build game with Addon"
I tried to build my game with this system, but both for Windows and Android final build crashes. Console In Unity shows "Build completed with a result of 'Succeeded'".

[2022-04-21 21:51] lucasbarenchi opened #94 "Cannot make double intersection, neither a circuit"
Hi. I want to make a circuit track but i try many ways but it doesnt work. I dont know what is the problem, any suggestions?

https://user-images.githubusercontent.com/33553862/164557834-84d2086a-2e2e-4c2a-bebc-3085a173d38b.mp4

[2022-07-25 13:52] MrKsiJ opened #95 "Materials are not superimposed during the procedural generation of the road"
When generating roads with the help of my tool, materials are not superimposed on the resulting roads, and even if you specify materials in GSDRoad head-on

Read Material 1
Road Shoulder 1
Road Market 1

And update them with the Set All Materials() method
, then nothing happens

How does the asset load materials on the road and how to change them through the script?

[2022-07-25 13:53] MrKsiJ commented on #95
https://cdn.discordapp.com/attachments/956903155969425408/1001124894874013737/7.mp4

[2022-07-25 13:53] MrKsiJ commented on #95
https://cdn.discordapp.com/attachments/956903155969425408/1001124901891096606/8.mp4

[2022-07-25 13:53] MrKsiJ commented on #95
https://cdn.discordapp.com/attachments/956903155969425408/1001124915249950740/9.mp4

[2022-07-25 13:53] MrKsiJ commented on #95
https://cdn.discordapp.com/attachments/956903155969425408/1001124923886022727/10.mp4

[2022-07-25 13:53] MrKsiJ commented on #95
https://cdn.discordapp.com/attachments/956903155969425408/1001124927157575772/11.mp4

[2022-07-25 14:06] MrKsiJ commented on #95
Okay I fixed it
The SetDefautsMaterials method has incorrect paths to the materials, plus it is called for some reason even if all the materials are installed, and replaces them

[2022-07-25 14:07] #95 closed, assigned to nobody

[2022-08-17 14:28] Talwinder001 opened #96 "I have problem with road making assets."
I am not able to use road architecture in unity. When I hold shift and click to add nodes, the terrain on the back gets selected. Anyone please help me. I have tested it one time when I had imported this asset and then it was working fine but now its not working i have also tried easy road 3d and it has same problem. Please tell me if anyone knows the solution. 🙏🙏

[2022-09-23 18:47] HazanAmed opened #97 "Terrain Control Not Working"
When I increase my Terrains length and width, create nodes then the terrain does not form below the road or flatten it for some reason.
Sometime the terrain does not form and sometimes the terrain form somewhere else and not in the right pLace!
 I tried changing settings of terrain control but it didn't help. Using the default terrain will cause no problems but working on super big terrain gets th